<ion-modal-view id="location-selection-modal" class="full-screen-modal" ng-controller="locationSelector">
  <ion-header-bar class="bar-dark">
      <h4 class="title">We want to share a cab</h4>
      <button class="button button-icon ion-android-close" on-tap="closePopover()">
      </button>
  </ion-header-bar>
  <ion-content>
    <div class="item item-divider">From...</div>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" id='start-place' class="controls" placeholder="Choose a starting point for yourself" ng-focus="disableTap('start-place')">
      <!-- Choose a place to pick up a friend (optional) -->
    </label>

    <label class="item item-input" ng-repeat="location in route.origins">
      <i class="icon ion-android-pin placeholder-icon"></i>
      <input class="nobackground" value="{{location.name}}" readonly>
      <button class="nobackground button-small" on-tap="removeLocation(route.origins, $index)">
        <i class="icon ion-close-round"></i>
      </button>
    </label>

    <div class="item item-divider">To...</div>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" id='end-place' class="controls" placeholder="Choose a destination for yourself" ng-focus="disableTap('end-place')">
      <!-- Choose a place to drop off a friend (optional)-->
    </label>

    <label class="item item-input" ng-repeat="location in route.destinations">
      <i class="icon ion-android-pin placeholder-icon"></i>
      <input class="nobackground" value="{{location.name}}" readonly>
      <button class="nobackground button-small" on-tap="removeLocation(route.destinations, $index)">
        <i class="icon ion-close-round"></i>
      </button>
    </label>


  <div route-options></div>

  </ion-content>
  <ion-footer-bar>
    <div class="full-width">
      <button class="button button-positive align-right" on-tap="submitSelections()">Done</button>
    </div>

  </ion-footer-bar>
</ion-modal-view>
