<ion-modal-view id="location-share-modal" ng-controller="shareSelector">
  <ion-header-bar class="bar-stable">
    <div class="full-width">
      <button class="nobackground  align-right" on-tap="closePopover()">
        <h4><i class="icon ion-close"></i></h4>
      </button>
      <h4>&nbsp Share Route</h4>

    </div>

  </ion-header-bar>
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" id='start-place' class="controls" placeholder="Starting points" ng-focus="disableTap('start-place')">
    </label>

    <label class="item item-input" ng-repeat="location in startpts">
      <i class="icon ion-android-pin placeholder-icon"></i>
      <input class="nobackground" value="{{location.name}}" readonly>
      <button class="nobackground button-small" on-tap="removeLocation(startpts, $index)">
        <i class="icon ion-close-round"></i>
      </button>
    </label>


    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" id='end-place' class="controls" placeholder="Destinations" ng-focus="disableTap('end-place')">
    </label>

    <label class="item item-input" ng-repeat="location in endpts">
      <i class="icon ion-android-pin placeholder-icon"></i>
      <input class="nobackground" value="{{location.name}}" readonly>
      <button class="nobackground button-small" on-tap="removeLocation(endpts, $index)">
        <i class="icon ion-close-round"></i>
      </button>
    </label>

    <div class="inline-fit full-width">
      <h5 class="align-left">&nbsp &nbsp Depart at: </h5>
      <input class="align-right" type="datetime-local" ng-model="departure_time">
    </div>
    <div>
      <h5>&nbsp &nbsp Route Options</h5>
      <ion-radio ng-model="routeType" ng-value="'fast'">Fastest route</ion-radio>
      <ion-radio ng-model="routeType" ng-value="'erp'">Avoid ERP</ion-radio>
    </div>

      <textarea class="full-width" msd-elastic ng-model="notes" placeholder="Notes: "></textarea>
  </ion-content>
  <ion-footer-bar>
    <div class="full-width">
      <button class="button button-positive align-right" on-tap="submitSelections()">Done</button>
    </div>
  </ion-footer-bar>

</ion-modal-view>
