<ion-modal-view id="location-share-modal" class="full-screen-modal" ng-controller="shareSelector">
  <ion-header-bar class="bar bar-stable">
    <div class="full-width">
      <button class="nobackground  align-right" on-tap="closeSharePopover()">
        <h4><i class="icon ion-close"></i></h4>
      </button>
      <h4>&nbsp Share Route: Find friends to share a cab with you!</h4>

    </div>

  </ion-header-bar>
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" id='start-place-s' class="controls" placeholder="Starting points" ng-focus="disableTap('start-place-s')">
    </label>

    <label class="item item-input" ng-repeat="location in route.origins">
      <i class="icon ion-android-pin placeholder-icon"></i>
      <input class="nobackground" value="{{location.name}}" readonly>
      <button class="nobackground button-small" on-tap="removeLocation(route.origins, $index)">
        <i class="icon ion-close-round"></i>
      </button>
    </label>


    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" id='end-place-s' class="controls" placeholder="Destinations" ng-focus="disableTap('end-place-s')">
    </label>

    <label class="item item-input" ng-repeat="location in route.destinations">
      <i class="icon ion-android-pin placeholder-icon"></i>
      <input class="nobackground" value="{{location.name}}" readonly>
      <button class="nobackground button-small" on-tap="removeLocation(route.destinations, $index)">
        <i class="icon ion-close-round"></i>
      </button>
    </label>
    <div share-route-options></div>

  </ion-content>
  <ion-footer-bar>
    <div class="full-width">
      <button class="button button-positive align-right" on-tap="submitSelections()">Share</button>
    </div>
  </ion-footer-bar>

</ion-modal-view>
