<div class="inline-fit full-width routes-general">
  <h5>Depart at: </h5>
  <div class="row date-input">
    <input class="nobackground" type="text" datepicker-popup
           ng-model="dep_date"
           is-open="dateStatus.opened"
           datepicker-options="dateOptions"
           ng-required="true" on-tap="openDatePopup($event, dateStatus)"
           placeholder="Date"
           date-disabled="disabledDate(date, mode)"
           readonly
      />
    <input class="nobackground" type="text" datetime-picker="HH:mm"
           ng-model="dep_time" is-open="timeStatus.opened"
           enable-date="false"
           timepicker-options="timeOptions"
           ng-required="true"
           on-tap="openDatePopup($event, timeStatus)"
           placeholder="Time"
           readonly
      />
  </div>
  <h5>
    Buffer Time
  </h5>
  <div class="routes-general">
    <input type="number" placeholder="minutes" ng-model="bufferTime"/>
  </div>
</div>
<div class="routes-options">
  <h5>Route Options</h5>
  <ion-radio class="compact-line" ng-model="routeType" ng-repeat="option in options" ng-value=option[0]>{{option[1]}}</ion-radio>
</div>

<textarea class="full-width routes-notes" msd-elastic ng-model="notes" placeholder="Notes: "></textarea>
