<div class="inline-fit full-width">
  <h5>&nbsp &nbsp Depart at: </h5>
  <div class="row date-input">
    <input class="nobackground" type="text" datepicker-popup
           ng-model="dep_date"
           is-open="dateStatus.opened"
           datepicker-options="dateOptions"
           ng-required="true" on-tap="openDatePopup($event, dateStatus)"
           placeholder="Date"
           date-disabled="disabledDate(date, mode)"
           readonly
      />
    <input class="nobackground" type="text" datetime-picker="HH:mm"
           ng-model="dep_time" is-open="timeStatus.opened"
           enable-date="false"
           timepicker-options="timeOptions" close-on-selection="true"
           ng-required="true"
           on-tap="openDatePopup($event, timeStatus)"
           placeholder="Time"
           readonly
      />
  </div>

</div>
<div class="routes-options">
  <h5>Route Options</h5>
  <ion-radio class="compact-line" ng-model="routeType" ng-value="'fast'">Fastest route</ion-radio>
  <ion-radio class="compact-line" ng-model="routeType" ng-value="'erp'">Avoid ERP</ion-radio>
</div>

<textarea class="full-width routes-notes" msd-elastic ng-model="notes" placeholder="Notes: "></textarea>
