<div class="button-bar">
  <button class="button icon-left ion-compose" on-tap="openPopover()">Plan</a>
  <button class="button icon-left ion-share" on-tap="openSharePopover()">Share</a>
  <button class="button icon-left ion-bookmark">Save</a>
</div>

 <!-- <div class="toolbar-wrapper">
  <div class="toolbar-style row">

    <button class=" nobackground inline-fit" on-tap="openPopover()">
      <h6>
        <i class="icon ion-ios-search-strong"></i>
        Find Route
      </h6>
    </button>

    <button class=" nobackground inline-fit" on-tap="openSharePopover()">
      <h6>
        <i class="icon ion-android-share-alt"></i>
        Share Route
      </h6>
    </button>

    <button class=" nobackground inline-fit">
      <h6>
        <i class="glyphicon glyphicon-floppy-disk"></i>
        Save Route
      </h6>
    </button>

    <button class=" nobackground inline-fit">
      <h6>
        <i class="icon ion-log-in"></i>
        Login
      </h6>
    </button>
  </div>
</div>
  -->