<div class="button-bar">
  <button class="button icon-left ion-compose" ng-if="!editMode" on-tap="openPopover()">Plan</button>
  <button class="button icon-left ion-edit" ng-if="editMode" on-tap="openPopover()">Edit</button>
  <button class="button icon-left ion-share" on-tap="openSharePopoverOrLogin()">Share</button>
  <button class="button icon-left ion-bookmark" ng-disabled="!canSaveRoute()" on-tap="openSavePopover()">Save</button>
  <button class="button ion-left ion-refresh" on-tap="refresh()">Reset</button>
</div>
