<ion-view class="main-content">
	<ion-header-bar class="bar-balanced">
		<button class="button button-icon ion-navicon" on-tap="toggleLeft()" ng-if="!editMode"></button>
    <button class="button button-icon ion-arrow-left-c" ng-click="returnToList()" ng-if="editMode"></button>
		<h1 class="title">{{title}}</h1>
		<!-- <button class="button button-icon ion-help-circled"></button> -->
	</ion-header-bar>
	<div share-taxi-toolbar></div>
	<div id="map" data-tap-disabled="true"></div>
	<div class="floating-footer-container" ng-show="showResult" result-summary-footer></div>
	<div ng-show="showResponseBtns" response-btns></div>
</ion-view>
