.angular-google-map-container {
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

/*
ion-popover-view.fit {
  max-height: 70%;
  height: auto;
}

ion-popover-view.fit ion-content {
  margin: auto;
  display: inline-block;
  width: 100%;
  height: auto;
}
*/

.compact-line {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  height: auto;
  display: inline-block;
}

.nobackground {
  border-style:none !important;
  background-color : transparent !important;
}

.inline-fit {
  display: inline-block;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.full-width{
  width: 100%;
}

.date-input {
  padding-left: 30px;
}

.toolbar-wrapper {
  position: relative;
  left: 35%;
  float: left;
}
.toolbar-style {
  margin-top: 0;
  padding-top: 0;
  left: -35%;
  float: left;
  position: absolute;
  min-width: 350px;
  height: 30px;
  width: auto;
  background: #ffffff;
  opacity: 0.7;
  display: inline-block;
  z-index: 1000;
}

.pac-container {
  z-index: 3000 !important;
}


.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
  border: 0 !important;
}

.datepicker-inline .datetime-picker-dropdown {
  position: relative;
  z-index: 3000 !important;
}

.routes-options {
  padding-left: 15px;
}

.routes-notes {
  padding-left: 15px;
  padding-right: 15px;
}
