.angular-google-map-container {
  height: 100%;
}

/* SPLASH/INTRO */
#splashscreen-container .scroll,
#splashscreen {
  height: 100%;
  width: 100%;
  background-color: #74EE98;
}
#splashscreen td {
  vertical-align: middle;
}
#splashscreen img {
  width: 100%;
}
.st-fade.ng-enter,
.st-fade.ng-leave,
.st-fade.ng-hide-add, 
.st-fade.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.st-fade.ng-enter,
.st-fade.ng-leave,
.st-fade.ng-hide-add.ng-hide-add-active,
.st-fade.ng-hide-remove {
  opacity:0;
}
.st-fade.ng-enter.ng-enter-active,
.st-fade.ng-leave.ng-leave-active,
.st-fade.ng-hide-add,
.st-fade.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

#intro {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: #FFF;
}
#intro .scroll {
  height: 100%;
}
#intro .slider {
  height: 100%;
}
#intro .slider-slide {
  height:100%;
  padding-top: 80px;
  color: #000;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  padding-left: 12px;
  padding-right: 12px;
}
#intro .slider-slide p {
  font-size:120%;
}

.intro-img {
  margin: 30px 0px;
}
.intro-img img {
  width:100%;
  max-width:512px;
}
/*END OF SPLASH/INTRO */

#map {
  height: 100%;
  width: 100%;
}

#results-summary {
  width: auto;
  max-width: 350px;
  min-width: 150px;
  margin: auto;
}

.floating-footer-container {
  bottom: 0;
  width: 100%;
  height: 88px;
  position:absolute;
}

.floating-footer {
  max-height: 220px;

}

.more-details-button {
  width : 50px;
  height: 50px;

  min-height: 40px;
  padding: 0;
  border-style: solid;
}

.circle{
  border-radius: 50%;
  margin: 0.15em;
  font-size: 3em;
}

.compact-line {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  height: auto;
  display: inline-block;
}

.nobackground {
  border-style:none !important;
  background-color : transparent !important;
}

.inline-fit {
  display: inline-block;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.full-width{
  width: 100%;
}

.date-input {
  padding-left: 30px;
}

.main-content {
  padding-top: 42px;
}

.toolbar-wrapper {
  position: relative;
  left: 40%;
  float: left;
}
.toolbar-style {
  margin-top: 0;
  padding-top: 0;
  left: -40%;
  float: left;
  position: absolute;
  min-width: 300px;
  height: 40px;
  width: auto;
  background: #ffffff;
  opacity: 0.7;
  display: inline-block;
  z-index: 1000;
}

.full-screen-modal {
  top: 0 ;
  bottom: 0 ;
  left: 0 ;
  right: 0 ;
  width: 100% ;
}

.pac-container {
  z-index: 3000 !important;
}


.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
  border: 0 !important;
}

.datepicker-inline .datetime-picker-dropdown {
  position: relative;
  z-index: 3000 !important;
}

.routes-general {
  padding-left: 15px;
}
.routes-options {
  padding-left: 15px;
}

.routes-notes {
  padding-left: 15px;
  padding-right: 15px;
}

#save-route-dialog {
  height: auto;
}

