.angular-google-map-container {
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.popover .fit{
  height: auto !important;
}

.nobackground {
  border-style:none !important;
  background-color : transparent !important;
}
