<ion-view class="main-content">
	<ion-header-bar class="bar-balanced">
		<button class="button button-icon ion-navicon" on-tap="toggleLeft()"></button>
		<h1 class="title">My Friends' Routes</h1>
	</ion-header-bar>
	<ion-header-bar class="bar-subheader">
		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Search" ng-model="searchStr"/>
		</label>
	</ion-header-bar>
	<ion-content class="has-subheader">
		<div class="card" ng-repeat="route in friendsRoutes | filter: searchStr">
			<div class="item item-avatar st-card-avatar">
				<img src="/img/icon.png">
				<h2>{{route.owner}}</h2>
				<p>{{route.local_description}}</p>
			</div>

			<a class="item item-body item-text-wrap" ng-click="openPopover(route);">
				From: {{route.start_address}}<br>
				To: {{route.end_address}}<br>
				By: {{route.deadline}}
				<p>
					Sharing: {{route.sharing}}
				</p>
			</a>

			<button class="button item royal align-right nobackground" on-tap="" >
				Join Route
			</button>
		</div>
	</ion-content>
</ion-view>
