<ion-view class="main-content">
	<ion-header-bar class="bar-balanced">
		<button class="button button-icon ion-navicon" on-tap="toggleLeft()"></button>
		<h1 class="title">My Shared Routes</h1>
		<!-- <button class="button button-icon ion-help-circled"></button> -->
	</ion-header-bar>
	<ion-content>
		<div class="card" ng-repeat="ride in sharedRoutes">
			<div class="item item-divider">
				{{ride.route.sharing_options.notes}}
				<span class="badge badge-assertive" ng-if="route.num_requests!==0">
					{{route.num_requests}} request(s)
				</span>
			</div>

			<a class="item item-body item-text-wrap" ng-click="openSharedMap(ride)">
				From: {{ride.route.directions.getStartAddress()}}<br>
				To: {{ride.route.directions.getEndAddress()}}<br>
				By: {{getRideDeadline(ride) | relativeDate}}
				<p>
					Sharing: {{getSharingDisplay(ride)}}
				</p>
			</a>

			<button class="button item assertive align-right nobackground" on-tap="" >
				Abandon Route
			</button>
		</div>
	</ion-content>
</ion-view>
