<ion-view class="main-content">
	<ion-header-bar class="bar-balanced">
		<button class="button button-icon ion-navicon" on-tap="toggleLeft()"></button>
		<h1 class="title">My Saved Routes</h1>
	</ion-header-bar>
  <ion-header-bar class="bar-subheader">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="searchStr"/>
    </label>
  </ion-header-bar>
	<ion-content class="has-subheader">
		<div class="card" ng-repeat="route in savedRoutes | routesFilter:searchStr">

      <div on-tap="viewRoute(route)">
        <div class="item item-divider">
          {{route.local_description}}
        </div>
        <div class="item item-text-wrap">
          From: {{route.directions.getStartAddress()}} <br>
          To: {{route.directions.getEndAddress()}} <br>
        </div>
        <button class="button item assertive align-right nobackground" on-tap="deleteRoute(route, $index)" style="text-align: right;">
          Delete Route
        </button>
      </div>

    </div>
	</ion-content>
</ion-view>
