<ion-view class="main-content">
	<ion-header-bar class="bar-balanced">
		<button class="button button-icon ion-navicon" on-tap="toggleLeft()"></button>
		<h1 class="title">My Shared Routes</h1>
		<!-- <button class="button button-icon ion-help-circled"></button> -->
	</ion-header-bar>
	<ion-content>
		<div class="card" ng-repeat="route in savedRoutes">
			<div class="item item-divider">
				{{route.local_description}}
				<span class="badge badge-assertive" ng-if="route.num_requests!==0">
					{{route.num_requests}} request(s)
				</span>
			</div>

			<a class="item item-body item-text-wrap" ng-click="openSharedMap(route)">
				From: {{route.start_address}}<br>
				To: {{route.end_address}}<br>
				By: {{route.deadline}}
				<p>
					Sharing: {{route.sharing}}
				</p>
			</a>

			<button class="button item assertive align-right nobackground" on-tap="" >
				Abandon Route
			</button>
		</div>
	</ion-content>
</ion-view>
